# Base
setuptools>=75.8.0,<=77.0.3
typing-extensions>=4.12.2,<4.15.0

# Timezone Data (with latest version)
tzdata

# Adopt ISO 8601 or RFC 3339
ciso8601>=2.3.2,<2.4.0

# ML Frameworks
keras>=3.8.0,<=3.12
tensorflow>=2.18.0,<=2.20
matplotlib>=3.10,<3.21

# Natural Language Processing
spacy>=3.8.0,<=3.8.7

# Array computing
numpy>=2.2.1

# 2D arrays
polars[pyarrow,xlsx2csv,openpyxl,pandas]>=0.19.11,<0.20.0

# Images
# pillow>=11.1.0,<11.3.0

# Data Validation
pydantic>=2.10.3,<2.10.12

# Setting management
pydantic-settings>=2.5.2,<2.8.0

# Versioning follow https://semver.org/
semver>=3.0.1,<=3.1.10

# Yaml
PyYAML>=6.0.2,<6.1.0

# HTTP Client Interface
httpx>=0.27.1,<=0.28.1

# Log
structlog>=24.4.0,<24.10.0

# Retry
retrying>=1.3.4,<1.3.30

# Data-structure
typing-inspect==0.7.1

# Template
Jinja2>=3.1.0,<3.3.0
